.layout {
  display: flex;
}

/* Sidebar */

.sidebar {
  width: 260px;
  min-height: 100vh;
  background: #1e293b;
  color: white;
}

/* Main content */

.main-content {
  flex: 1;
  padding: 30px;
  background: #f1f5f9;
  min-height: 100vh;
}